{% extends "admin/base_site.html" %}

{% block content %}
<p>Assign the following item(s) to one or more calendars:</p>
<ul>
  {% for item in items %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  {% for item in items %}
  <input type="hidden" name="{{ action_checkbox_name }}" value="{{ item.pk }}">
  {% endfor %}
  <input type="hidden" name="action" value="assign_to_asgs">
  <input type="submit" name="apply" value="Assign" class="default">
</form>
{% endblock %}
