{% extends "base_generic.html" %} 

{% block content %}

{% comment %} <p>exportform.html</p> {% endcomment %}
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <h1> Enrichment Items</h1>
    <p><br>Choose keywords to filter the list of items if desired,<br>then choose an item to see the photo.<br></p>
    {{ form.as_p }}
    {% comment %} <input type="submit" value="Submit"> {% endcomment %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $("#id_keywords").change(function () {
      url = "{% url 'ajax_load_items' %}"
      var theKeyWord = $(this).val();  

      $.ajax({                       
        url: url,                    
        data: {
          'theKeyWord': theKeyWord     
        },
        success: function (data) {   
            console.log(data)
          $("#id_items").html(data);  
        }
      });

    });
  </script>
</form>

{% endblock %}

