{% extends "base_generic.html" %} 

{% block content %}

{% comment %} <p>exportform.html</p> {% endcomment %}
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <h1> Enrichment Items</h1>
    <p><br>Choose keywords to filter the list of items if desired,<br>then choose an item to see the photo.<br></p>
    {{ form.as_p }}
    <img id="image-1" src="" class="img-fluid" alt="..." >
    {% comment %} <input type="submit" value="Submit"> {% endcomment %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $("#id_searchString").change(function () {
      url = "{% url 'ajax_load_searchstring_items' %}"
      var theSearchString = $(this).val();  

      $.ajax({                       
        url: url,                    
        data: {
          'theSearchString': theSearchString     
        },
        success: function (data) {   
            {% comment %} console.log(data) {% endcomment %}
          $("#id_items").html(data);  
        }
      });

    });

{% comment %} 
    $("#id_keywords").change(function () {
      url = "{% url 'ajax_load_items' %}"
      var theKeyWord = $(this).val();  

      $.ajax({                       
        url: url,                    
        data: {
          'theKeyWord': theKeyWord     
        },
        success: function (data) {   
            console.log(data)
          $("#id_items").html(data);  
        }
      });

    }); {% endcomment %}


    $("#id_items").change(function () {
        url = "{% url 'ajax_get_image_url' %}"
        var theItem = $(this).val();

        $.ajax({
            url: url,
            data: {
                'theItem': theItem
            },
            success: function (data) {
                var theURL = data['theURL'];
                console.log('theURL: ' + theURL);
                $("#image-1").attr("src", theURL);
            }
            
        });
    });
  </script>
</form>

{% endblock %}

